@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body {
      font-family: var(--font-roboto); 
      
    }

    h1 {
      @apply text-2xl font-bold;
    }

    h2 {
      @apply text-xl font-bold;
    }
    /* ... */

  }

  @layer components
  {

    .nav { display: flex;
   }

.nav li:nth-child(1) { flex:1; display:flex; background: #FF5733; padding: 0.5rem; } /* Rouge orange */
.nav li:nth-child(2) { background: #33C3FF; padding: 0.5rem; } /* Bleu */
.nav li:nth-child(3) { background: #7DFF33; padding: 0.5rem; } /* Vert citron */
.nav li:nth-child(4) { background: #0b3079; padding: 0.5rem; } /* Bleu Nuit */

#navbar {
  top: 0;
}

  }