:root {
  --green: #288A57;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body {
      font-family: var(--font-roboto); 
      
    }

    h1 {
      @apply text-2xl font-bold;
    }

    h2 {
      @apply text-xl font-bold;
    }
    /* ... */

  }

  @layer components
  {

  .nav { display: flex;
   }

.nav li:nth-child(1) { flex:1; display:flex; padding: 0.5rem; } 
.nav li:nth-child(2) { padding: 0.5rem; } 
.nav li:nth-child(3) { padding: 0.5rem; } 
.nav li:nth-child(4) { padding: 0.5rem; }  

#navbar {
  top: 0;
}

  }